@tailwind base;
@tailwind components;
@tailwind utilities;

.sportTitle {
  @apply text-sport-blue text-[16px];
}

html, body, main {
  width: 100%;
  min-width: 100vw;
  overflow: hidden;
}

/* Add this to your global CSS file or the relevant style file */
.hide-scrollbar::-webkit-scrollbar {
  display: none;  /* Chrome, Safari, and Opera */
}

.hide-scrollbar {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
